
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #323639;
  background-size: cover;
  overflow: hidden;
}

.main-container {
  max-width: 1200px;
  height: 100%;
  margin: 5px auto;
  position: relative;
  color: #ffffff;
  padding: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

/* Scrollbar Styling */
main{
  height: 95vh;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #e20505;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000000; 
}
/*End Of Scrollbar Styling */


/*Header*/
a,
button {
  font-family: monospace;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}


.menu-container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: monospace;
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  align-content: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: black;
  
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  list-style-type: none;
}
.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #ffffff6e;
  
}
.menu-link.is-active {
  position: relative;
  color: #ffffff;
  transition: all 0.35s ease;
}
.menu-icon {
  font-size: 1.35rem;
  line-height: 1;
  color: inherit;
}
.menu-name {
  display: none;
  font-family: monospace;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  visibility: hidden;
  text-transform: capitalize;
}

@media only screen and (min-width: 360px) {
  .menu-name {
    display: block;
    visibility: visible;
  }
}
@media only screen and (min-width: 576px) {
  .menu-list {
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    background: #000;
    box-shadow: rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease-in-out;
  }

  .menu {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
  }
  .menu-link.is-active::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 2px;
    border: none;
    outline: none;
    background: #ffffff;
  }
  .menu-link:hover {
    color: rgb(255, 0, 0);
    transition: all 0.35s ease;
  }
  .menu-icon {
    display: none;
    visibility: hidden;
  }
  .menu-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.2rem;
  }
}
/*End Of Header*/



/*About Page*/
* {
	box-sizing: border-box;
	font-family: monospace;
	margin: 0;
	padding: 0;
  }
  #about{
  padding-top: 20px;  
	margin-top: 20px;
  padding-bottom: 50px;
	margin-left: 4px;
	margin-right: 4px;
  overflow-y: auto;
	}
  .about-wrapper-grid {
	display: flex;
	grid-template-columns: repeat(auto-fit, 20rem);
	justify-content: center;
  }
  
  .about-container {
	overflow: auto;
	background-color: #000000;
	text-align: center;
	position: relative;
	border-radius: 1em;
  }
  
  .banner-cover {
	position: absolute;
	background-image: url('../img/background2.jpg');
	height: 10rem;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .profile-photo {
	width: 6.5rem;
	height: 6.5rem;
	border-radius:  8rem;
	clip-path: circle(60px at center);
	margin-top: 6.5rem;
  }
  .profile-photo:hover{
	border-radius: 5px;
	transition: 1s;
  }
  .user-name{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff0000;
  } 
  .name{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff0000;
  }
  .about-description {
    margin: 0rem 8rem;
    font-size: 1.2rem;
  }
  #professional-info{
    font-size: 1.2rem;
  }
  /*social links*/
a, a:hover {
	text-decoration: none;
}

.about-social-links, .about-social-links ul, .about-social-links li {
  margin: 0;
  padding: 10px;
}

.about-social-links li {
    list-style: none outside none;
    display: inline-block;
}

.about-social-links .fab {
	width: 40px;
  height: 40px;
	color: #000;
	font-size: 28px;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 5px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.about-social-links .fab:hover {
	color: #ffffff;
	background-color: #000;
	border: 1px solid #000;
}

/*End of About Page*/



/*Lab Page*/
.labs{
  padding-top: 50px;
  margin-top: auto;
}
.grid {
  position: relative;
  border: 2px solid #000;
  border-radius: 5px;
  padding-top: 37px;
  background: #000000;
  max-width: 900px;
  margin: auto;
  }
  .grid-container {
  overflow-y: auto;
  max-height: 380px;
  background: #ffffff;
  }
  table {
  border-spacing: 0;
  width:100%;
  }
  
  th {
  border-bottom:1px solid rgb(248, 248, 248);
  padding: 10px 25px;  
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  white-space: nowrap;
  }
  th div{
  position: absolute;
  background: transparent;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  color: rgb(255, 255, 255); 
  }
  .link{
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  .link:hover {
    color: #fd0404;
  }
  #lab-links {
    line-height: 1.5em;
    list-style-image: url('../img/icons8-chip-16.png');
    padding-left: 30px;
    padding-bottom:10px;
    padding-top:10px;
  }
/*End Of Lab Page*/  


/*Home Page*/
  .home-page {
    margin: auto;
    padding: 0;
    overflow: auto;
    max-width: 900px;
    height: 100%;
    padding-bottom: 20px;
  }

  .landing-title{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }
  .landing-paragraph{
    font-size: 1.4rem;
    margin: 1rem 4rem;
  }
  .disclaimer{
    color: #f50101;
  }
  
  .landing-container{
    margin-top: 50px;
    overflow: hidden;
    background-color: #000000;
    position: relative;
    border-radius: 1em;
  }

  
  @media(max-width:768px){
    .landing-title{
      font-size: 40px;
    }
    .landing-paragraph{
      font-size: 1.2rem;
      letter-spacing: 2px;
    }
  }
  /*End Of Home Page*/
